html body {
    background-image: url('assets/pexels-photo-164642.jpeg');
    padding-top: 143px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 122em;
    padding-bottom: 406px;
    background-size: cover;
    padding-bottom:16px;
}

/*#body {
    background-size: cover;
}*/

.homeindex {
    background-image: url('assets/christmas-conifer-cone-decoration-639110.jpg');
    padding-bottom: 16px;
    background-size: cover;
    margin-top: -253px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 70px;
    padding-right: 222px;
    padding-top:170px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4em 4em 4em 4em
}


.table th, .table td {
    text-align: center;
}


#primename {
    color: black;
    text-shadow: 1px 4px 0 green;
    font-family: "Times New Roman", Times, serif;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: -9px;
    text-transform: uppercase;
}

#papername {
    font-weight: 300;
    font-size: 3.8em;
    font-size: 40px;
    letter-spacing: 0.05em;
    position: relative;
    color: rgb(5, 58, 5);
    text-shadow: 2px 1px 0 greenyellow;
    margin: -0.4em 0 0 1.0em;
    left: 159px;
    top: -7px;
    font-family: "Times New Roman", Times, serif;
}

#left {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1045px;
    height: 397.6px;
    border: 1px double;
    border-color: red;
}

#middle {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1045px;
    height: 397.6px;
    border: 1px double;
    border-color: red;
}

#right {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1045px;
    height: 397.6px;
    border: 1px double;
    border-color: red;
}


#santahat {
    margin-left: 181px;
    margin-bottom: -108px;
}

#rowhome {
    margin-left: 371.5px;
}

#rowhome1 {
    margin-left: 347.5px;
}

#rowhome2 {
    margin-left: 445.5px;
}
#myCarousel {
    width: 1045px;
    height: 350px;
}

#carouselpicture {
    margin-left: 304.5px;
    margin-top: 45px;
}

#carouselpicture1 {
    margin-left: 400.5px;
    margin-top: 45px;
}

.carousel-indicators {
    bottom: -59px;
}

.btn-danger {
    margin-left: 421.5px;
    margin-top: 0px;
}

.navbar {
    margin-top: -10px;
}

.navbar-nav > li > a {
    padding-top: 25px;
}

.productIndex {
    background-size: cover;
    padding-top: 170px;
}

.customerindex {
    background-size: cover;
    padding-top: 170px;
}

.contractindex {
    background-size: cover;
    padding-top: 170px;
}

.aboutindex {
    background-size: cover;
    padding-top: 170px;
}
.contactindex {
    background-size: cover;
    padding-top: 170px;
}

.container .jumbotron {
    margin-top: -30px;
}

.footerindex {
    margin-top: -1em;
}

hr {
    margin-top: 3px;
}

.aboutp {
    font-size: 20px;
    color: black;
    padding-left: 45px;
    padding-right: 70px;
}

/*.scroll{
    width: 100vw;
}*/

.table {
    margin-left: 0;
    margin-right: 0;
}
