body {
    background-image: url('assets/Scroll-Font-Old-Antique-Parchment-Paper-Leave-1760402.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 50px;
    padding-bottom: 20px;
}
.homeindex {
    background-image: url('assets/A4Papers1.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    background-image: url('/Content/assets/christmas-conifer-cone-decoration-639110.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left:-1.8em;
}

#primename {
    color: black;
    text-shadow: 1px 4px 0 green;
    font-family: "Times New Roman", Times, serif;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: -9px;
    text-transform: uppercase;
}

#papername {
    font-weight: 300;
    font-size: 3.8em;
    font-size: 40px;
    letter-spacing: 0.05em;
    position: relative;
    color: rgb(5, 58, 5);
    text-shadow: 2px 1px 0 greenyellow;
    margin: -0.4em 0 0 1.0em;
    left: 159px;
    top: -7px;
    font-family: "Times New Roman", Times, serif;
}

#left {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4em;
    margin-bottom: 4em;
    width: 380px;
    height: 177px;
    border: 1px double;
    border-color: red;
}

#middle {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 177px;
    border: 1px double;
    border-color: red;
    margin:4em 4px 4em 4px;
}

#right {
    background-image: url('/Content/assets/background-balls-boxes-1303098.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4em;
    margin-bottom: 4em;
    width: 380px;
    height: 177px;
    border: 1px double;
    border-color: red;
}

#body {
    background-color: dimgrey;
}

#santahat {
    margin-left: 181px;
    margin-bottom: -108px;
}

#rowhome {
    margin-left: 52px;
}

.btn-danger {
    margin-left: 85px;
    margin-top: 21px;
}

.navbar {
    margin-top: -10px;
}

.navbar-nav > li > a {
    padding-top: 25px;
}

.productIndex {
    background-image: url('assets/scroll-3069306_960_720.png');
    
}
