@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background-image: url('../../Content/assets/christmas-conifer-cone-decoration-639110.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top:4em;
        margin-bottom: 4em;
    }
    #primename {
        color: black;
        text-shadow: 1px 4px 0 green;
        font-family: "Times New Roman", Times, serif;
        font-size: 7.5em;
        letter-spacing: -0.025em;
        margin: -9px;
        text-transform: uppercase;
    }
    #papername {
        font-weight: 300;
        font-size: 3.8em;
        font-size: 40px;
        letter-spacing: 0.05em;
        position: relative;
        color: rgb(5, 58, 5);
        text-shadow: 2px 1px 0 greenyellow;
        margin: -0.4em 0 0 1.0em;
        left: 159px;
        top: -7px;
        font-family: "Times New Roman", Times, serif;
    }
    #left {
        background-image: url('../../Content/assets/background-balls-boxes-1303098.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4em;
        margin-bottom: 4em;
        width: 380px;
        height: 177px;
        border:1px double;
        border-color:red;
    }
    #middle {
        background-image: url('../../Content/assets/background-balls-boxes-1303098.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4em;
        margin-bottom: 4em;
        width: 380px;
        height: 177px;
        margin-left: 4px;
        margin-right: 4px;
        border: 1px double;
        border-color: red;
    }
    #right {
        background-image: url('../../Content/assets/background-balls-boxes-1303098.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4em;
        margin-bottom: 4em;
        width: 380px;
        height: 177px;
        border: 1px double;
        border-color: red;
    }
    #body{
        background-color:dimgrey;
    }
    #santahat {
        margin-left: 181px;
        margin-bottom: -108px;
    }
    #rowhome {
        margin-left: 52px;
    }
    .btn-danger {
        margin-left: 85px;
        margin-top: 21px;
    }
    #logo{

    }
    .navbar {
        margin-top: -10px;
    }
    .navbar-nav > li > a {
        padding-top: 25px;
    }
</style>
    <nav class="navbar navbar-light bg-light" data-toggle="collapse" data-target=".navbar-collapse">
    </nav>
<div class="jumbotron">
<div class="santaclaus">
</div>
        <img id="santahat" src="~/Content/assets/Youthedesigner-Christmas-Graphics-Santa-hat.ico" />
    <h1 id="primename">Prime</h1>
    <h2 id="papername">Paper</h2>
    <p class="lead">Prime Papel is the premiere place to get hight quality papers.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 " id="left">
        <h2 id="rowhome">Using Prime papel</h2>
        <p>
            
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
            Click and Learn more
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        High profile projects deserve High quality a trustworthy paper.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <p><a href="http://localhost:51017/Home/Contact" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 " id="middle">
        <h2 id="rowhome">Why Prime papel</h2>
        <p></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
            Click and Learn more
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Family owned and operated. We are located in the heart of Mato Grosso. Serving high quality and trustworthy paper to you and your family. From our family to yours.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <p><a href="http://localhost:51017/Home/Contact" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 " id="right">
        <h2 id="rowhome">Prime Papel Rating</h2>
        <p></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
            Click and Learn more
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You can easily find paper anywhere but you can't find the love and dedication our family will have with you.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <p><a href="http://localhost:51017/Home/Contact" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>